@import "./Theme.scss";

.contacts {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  a,.gmail{
    color: white;
    cursor: pointer;
    :hover {
      color: $secondary_light;
    }
  }

  svg,
  img {
    width: 40px;
    height: 40px;
    margin: 8px;
  }
  h3{
    padding-left: 20px;
  }
  .social{
    margin-bottom: 15px;
  }
}
