@import "./Theme.scss";

.contacts {
  width: 100vw;
  height: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  a {
    color: white;

    :hover {
      color: $secondary_light;
    }
  }

  svg,
  img {
    width: 40px;
    height: 40px;
    margin: 8px;
  }

  .social {
    margin-bottom: 15px;
  }

  //gmail link
  span {
    text-decoration: underline;
    color: $secondary;
    cursor: pointer;
  }
  span:hover{
    color:$secondary_light;
}
}
