@import "./Theme.scss";
.intro{
    display:flex;
    height: 100vh;
    color:white;
    justify-content: center;
    align-items: center;
    .description{
        padding:15px;
        button{background-color: $secondary_dark;margin-top:10px;}
    }
}